<a href="https://colab.research.google.com/github/BKnightHD/Python-CC/blob/main/ChapterReview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
# print the values in car list
cars = ['audi', 'bmw', 'subaru', 'toyota']
for car in cars:
  print(f"{car.title()}")
print("------\n")

# if statement embeded in for loop for conditioning
cars = ['audi', 'bmw', 'subaru', 'toyota']
for car in cars:
  if car =='bmw':
    print(f"Ah you hve a {car.upper()}, I love those!")
  else:
    print(f"{car.title()}")
print("------\n")

# If statements are basiclly conditional tests, that is, they test whether something is TRUE or FALSE

Audi
Bmw
Subaru
Toyota
------

Audi
Ah you hve a BMW, I love those!
Subaru
Toyota
------

In [ ]:
# Here, we are checking for equality
cars = 'bmw'
cars == 'bmw' # (==) is the quality operator, it returns TRUE or FALSE for the argument.

True

In [ ]:
cars = 'adui' # "Set the value = to audi"
cars == 'bmw' # "Is the value = to bmw?"

False

### Converting the test to lowercase now matter the answer given

In [ ]:
# Sometimes case matter, sometimes it doesnt, if it doesn't you can convert the variables assigned valye to lower before doing the comparison
car = 'Audi'
car.lower() == 'audi' # converting the answer given to lowercase, no matter the input

True

In [ ]:
car

'Audi'

In [ ]:
# Checking for inequality
requested_topping = 'mushrooms'

if requested_topping != 'anchovies':
  print("Hold the anchovies")

Hold the anchovies

In [ ]:
# Testing numerical values
age = 18
age == 17

False

In [ ]:
answer = 17
# Testing to see if answer given is correct
if answer != 42:
  print(f"Sorry, {answer} is not the correct answer. Please try again!")

Sorry, 17 is not the correct answer. Please try again!

### Mathematical comparisons

In [ ]:
age = 19
age < 21

True

In [ ]:
age <= 21

True

In [ ]:
age > 21

False

In [ ]:
age >= 21

False

### AND conditional testing

In [ ]:
# Checking multiple conditions
age_0 = 22
age_1 = 18
age_0 >= 21 and age_1 >=21

False

In [ ]:
age_1 = 22
age_0 >= 21 and age_1 >= 21

True

##Self test for understanding
* I want to generate a random age for a freind between the ages 27 and 29.
* I also want to generate a random name for my freind
* Then I want to print a statement telling me weather or not the freind is older than me
* I want this to be a loop a random number everytime so the answers can be difffernt anytime I run the program.

In [73]:
# First I'll set my age
my_age = 28

# Import random package
import random

freind_name = ['ellis', "giusseppe", 'andy', 'eddie' ]
#set freinds age to random value
freind_age = random.choice(range(27, 30))
freind_name_choice = random.choice(freind_name)
print(f"My age is {my_age}")
if freind_age > my_age:
   print(f"My freind {freind_name_choice.title()} is {freind_age}, so he's older than me.")
elif freind_age < my_age:
   print(f"My freind {freind_name_choice.title()} is {freind_age}, so he's younger than me.")
elif freind_age == my_age:
   print(f"My friend {freind_name_choice.title()} is {freind_age}, so we're the same age.")

My age is 28
My freind Ellis is 29, so he's older than me.

### OR conditional testing

In [75]:
age_0 = 22
age_1 = 18
age_0 >= 21 or age_1 >= 21

True

In [76]:
# Checking if value is in a list. IN argument
requested_toppings = ['mushrooms', 'onions', 'pianeapple']
'mushrooms' in requested_toppings

True

In [78]:
# Checking if value is in a list. IN argument
requested_toppings = ['mushrooms', 'onions', 'pianeapple']
'pepperoni' in requested_toppings

False

### NOT IN argument

In [81]:
banned_users = ['andrew', 'carolina', 'david']
user = 'marie'

if user not in banned_users:
  print(user.title() + ", you can post a response if you wish.")

Marie, you can post a response if you wish.

###Practice
* Random choice from list and check if it's in other list.
* Print different statments for each case

In [84]:
#import packages
import random
# Checking my understanding with NOT IN arguemnt
people = ['kathy', 'jim', 'austin', 'emily']
users = ['john', 'austin', 'jerry', 'kathy', 'andy', 'justin']

user = random.choice(users)
if user not in people: # NOT IN argument utlization
  print(f"Sorry, the name {user.title()} chosen from second list, is not in the first list")
else:
  print(f"There is a match! The name {user.title()} is in both lists.")

There is a match! The name Kathy is in both lists.

In [85]:
#import packages
import random
# Checking my understanding with NOT IN arguemnt
people = ['kathy', 'jim', 'austin', 'emily']
users = ['john', 'austin', 'jerry', 'kathy', 'andy', 'justin']

user = random.choice(users)

for user in users: # Adding for, iterates this argument multiple times

  if user not in people: # NOT IN argument utlization
    print(f"Sorry, the name {user.title()} chosen from second list, is not in the first list")
  else:
    print(f"There is a match! The name {user.title()} is in both lists.")

Sorry, the name John chosen from second list, is not in the first list
There is a match! The name Austin is in both lists.
Sorry, the name Jerry chosen from second list, is not in the first list
There is a match! The name Kathy is in both lists.
Sorry, the name Andy chosen from second list, is not in the first list
Sorry, the name Justin chosen from second list, is not in the first list