# Chapter 3 - Lists

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized'] #first list
print(bicycles)
#index positions start at 0, not 1
print("    " + bicycles[0].title())
print("\t" + bicycles[1].title())
print("\t\t" + bicycles[2].upper())
print("\t\t\t" + bicycles[3].title())
print(bicycles[-1], bicycles[-2])

['trek', 'cannondale', 'redline', 'specialized']
    Trek
	Cannondale
		REDLINE
			Specialized
specialized redline

In [ ]:
message = "My first bicycle was a " + bicycles[2].title() + "."
print(message)

My first bicycle was a Redline.

Try if yourself
* 3-1 Names
* 3-2 Greetings
* 3-3 Your Own List

In [ ]:
#3-1
names = ["Giuseppe", "Maisam", "Joe", "Devin", "Eddie"]
print(names[0],"\n",names[1],"\n",names[2],"\n",names[3],"\n",names[4])

#3-2
print("Hey " + names[0] + ", I hope you're having a great day!")
print("Hey " + names[1] + ", I hope you're having a great day!")
print("Hey " + names[2] + ", I hope you're having a great day!")
print("Hey " + names[3] + ", I hope you're having a great day!")
print("Hey " + names[4] + ", I hope you're having a great day!")

#3-3
stores = ['nordstroms', 'express', 'levis', 'north face', 'nike']
print("I use to go to West County mall all the time top shop at " + stores[-5].title())

Giuseppe
 Maisam
 Joe
 Devin
 Eddie
Hey Giuseppe, I hope you're having a great day!
Hey Maisam, I hope you're having a great day!
Hey Joe, I hope you're having a great day!
Hey Devin, I hope you're having a great day!
Hey Eddie, I hope you're having a great day!
I use to go to West County mall all the time top shop at Nordstroms

In [ ]:
motercycles = ['honda', 'yamaha', 'suzuki']
print(motercycles)

motercycles[0] = 'ducati' # here, we are changing the value stored in the first position of our motercycle list
print(motercycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [ ]:
motercycles = []
motercycles.append('honda')
motercycles.append('yamaha')
motercycles.append('suzuki')
print(motercycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
motercycles = ['honda', 'yamaha', 'suzuki']
last_owned = motercycles.pop()
first_owned = motercycles.pop(0)


print(f"The first motercycle I owned was a {last_owned.title()}.") #inputing a varibale within a str without concatinating it, the f represents a "f-string"
print(f"The first motercycle I owned was a {first_owned.title()}.")

The first motercycle I owned was a Suzuki.
The first motercycle I owned was a Honda.

In [ ]:
names = ['jeffery', 'tristan', 'jank', 'miles']
names.append('mason')
family = "jappa"
names.insert(0, 'maisam')
print("I'm praying for the " + str(family).title() + " family in there time of need.")
print("I hope this doesn't take my man " + names[-4].title() + " down the wrong path.")

I'm praying for the Jappa family in there time of need.
I hope this doesn't take my man Tristan down the wrong path.

Introducing the append and pop methods
* append() - adds a nother item to the list
* pop() - popping (or removing) the last item on the list

In [ ]:
colors = ['red', 'blue']
print(colors[1])

colors.append('green') # adding an item to the end of the list with the append method
print(colors)

popped_colors = colors.pop() # here, we are storing the value of the poped item into the variable named popped_colors
print(popped_colors)

colors.pop(1) # another way to pop an item form the list. Now the list only contains 1 item
print(colors)

blue
['red', 'blue', 'green']
green
['red']

In [ ]:
motercycles = ['honda', 'yamaha', 'suzuki', 'ducanti']
print(motercycles)
motercycles.remove('honda') #remove function works well if you do not know the position of the item you want to delete
print(motercycles)

too_expensive = motercycles[1]
motercycles.remove(too_expensive)
print(motercycles)

print(f"\n{too_expensive.title()} is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducanti']
['yamaha', 'suzuki', 'ducanti']
['yamaha', 'ducanti']

Suzuki is too expensive for me.

Try it youreself
* 3-4 Guest List
* 3-5 Changing the Gues list
* 3-6 More Guests

In [ ]:
#3-4
invitations = ['Jesus Christ', 'sade', 'rayfield']

print(f"Hello {invitations[0].title()}, I'd like to formally invite you to dinner. It would be an honor to have you.")
print(f"Hello {invitations[1].title()}, I'd like to formally invite you to dinner. It would be an honor to have you.")
print(f"Hello {invitations[2].title()}, I'd like to formally invite you to dinner. It would be an honor to have you.")

#3-5
absent = invitations.pop(0)
invitations.insert(0,'mom') #insert function will add mom like append but I can now choose which position to add her
print(f"\nHello my honored guests, unfortunately {absent.title()} won't be joing us tonight.")
print(f"\nHello {invitations[0].title()}, I'd like to formally invite you to dinner. It would be an honor to have you.")
print(f"Hello {invitations[1].title()}, I'd like to formally invite you to dinner. It would be an honor to have you.")
print(f"Hello {invitations[2].title()}, I'd like to formally invite you to dinner. It would be an honor to have you.")

#3-6

invitations.append('dad')
invitations.append('brenelle')
invitations.append('marvin gaye')

print(f"\nHello {invitations[3].title()}, I'd like to formally invite you to dinner. It would be an honor to have you.")
print(f"Hello {invitations[4].title()}, I'd like to formally invite you to dinner. It would be an honor to have you.")
print(f"Hello {invitations[5].title()}, I'd like to formally invite you to dinner. It would be an honor to have you.")

print(f"\nGreat news {invitations[0].title()}! I've found a bigger table for more guests.")
print(f"Great news {invitations[1].title()}! I've found a bigger table for more guests.")
print(f"Great news {invitations[2].title()}! I've found a bigger table for more guests.")

Hello Jesus Christ, I'd like to formally invite you to dinner. It would be an honor to have you.
Hello Sade, I'd like to formally invite you to dinner. It would be an honor to have you.
Hello Rayfield, I'd like to formally invite you to dinner. It would be an honor to have you.

Hello my honored guests, unfortunately Jesus Christ won't be joing us tonight.

Hello Mom, I'd like to formally invite you to dinner. It would be an honor to have you.
Hello Sade, I'd like to formally invite you to dinner. It would be an honor to have you.
Hello Rayfield, I'd like to formally invite you to dinner. It would be an honor to have you.

Hello Dad, I'd like to formally invite you to dinner. It would be an honor to have you.
Hello Brenelle, I'd like to formally invite you to dinner. It would be an honor to have you.
Hello Marvin Gaye, I'd like to formally invite you to dinner. It would be an honor to have you.

Great news Mom! I've found a bigger table for more guests.
Great news Sade! I've found a bigger table for more guests.
Great news Rayfield! I've found a bigger table for more guests.

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

# Accessing Elements in a list
print(bicycles[0])
print(bicycles[1])
print(bicycles[2])
cars = ['bmw', 'audi', 'tesla', 'acura']
print(cars[2].title())
print(cars[-1].upper()) # -1 always returns the last item of a list

['trek', 'cannondale', 'redline', 'specialized']
trek
cannondale
redline
Tesla
ACURA

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0].title() + "."
print(message)

My first bicycle was a Trek.

In [ ]:
# 3-1 Names: Store the names of a few of your freinds in a list called names

names = ['giuseppe', 'joe', 'andy', 'devin', 'aldin', 'ellis']
print(names[0].title())
print(names[1].title())
print(names[2].title())
print(names[3].title())
print(names[4].title())
print(names[5].title())

# 3-2 Greetings: Use your list above to print messages to each of them. The message should be the same to each person.
message = "Hey "
message2 = ", hows it going?"
print(message + names[0].title() + message2)
print(message + names[1].title() + message2)
print(message + names[2].title() + message2)
print(message + names[3].title() + message2)
print(message + names[4].title() + message2)
print(message + names[5].title() + message2)

# 3-3 Your own list: Store several examples of your favorite mode of transportation in a list and print statements about each of them
transportation = ['lamborghini countach', 'ford bronco', 'honda accord', 'luxury sedan']
print("My dream car is " + transportation[0].title() + '.')
print("One day I'll own a " + transportation[1].title() + '.')
print("My first car was a " + transportation[2].title() + '.')
print("My next car will be a " +transportation[-1] + '.')

Giuseppe
Joe
Andy
Devin
Aldin
Ellis
Hey Giuseppe, hows it going?
Hey Joe, hows it going?
Hey Andy, hows it going?
Hey Devin, hows it going?
Hey Aldin, hows it going?
Hey Ellis, hows it going?
My dream car is Lamborghini Countach.
One day I'll own a Ford Bronco.
My first car was a Honda Accord.
My next car will be a luxury sedan.

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles[0] = 'ducati' # changing the first element of the list
print(motorcycles)
motorcycles.append('honda') # append adds an item to the end of the list
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki', 'honda']

In [ ]:
motorcycles = [] # empty list
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')

print(motorcycles)

motorcycles.insert(0, 'ducanti') # inserts value 'ducanti' at the beggening of the list
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducanti', 'honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[0] # removes first item form the list
print(motorcycles)

del motorcycles[-1]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']
['yamaha']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles.pop() # shows us the last item of the list (this is now what item we're working with, also removed this item from the list)
motorcycles

['honda', 'yamaha', 'suzuki']

['honda', 'yamaha']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycles = motorcycles.pop()
print(motorcycles)
print(popped_motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']

last_owned = motorcycles.pop()
print("The last motorcycle I owned was a " + last_owned.title() + ".")

The last motorcycle I owned was a Suzuki.

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']

first_owned = motorcycles.pop(0)
print('The first motorcycle I owned was a ' + first_owned.title() + '.')

The first motorcycle I owned was a Honda.

In [ ]:
# sometimes you won't know the posistion of the value you want to remove from a list. Use the remove() method

motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print("\nA " + too_expensive.title() + " is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [ ]:
# 3-4 Guest list: Make a list of three people you'd invite to dinner. Then use your list to print a message to each person, inviting them to dinner

people = ['jordan peterson', 'eric weinstien', 'david goggins', 'chris williamson']
print("Good morning " + people[0].title() + ", I would like to formally invite you to dinner this afternoon.")
print("Good morning " + people[1].title() + ", I would like to formally invite you to dinner this afternoon.")
print("Good morning " + people[2].title() + ", I would like to formally invite you to dinner this afternoon.")
print("Good morning " + people[3].title() + ", I would like to formally invite you to dinner this afternoon.")

# 3-5 Changing Guest List: Someone from the prior list cannot make the dinner, you'll have to invite someone else.

cant_make = 'eric weinstien'
people.remove(cant_make)
print("\nUnfortunately it looks as though " + cant_make.title() + " wont be able to make it to dinner.")
people.insert(1, 'joe rogan')
print(people)
print("\nHello " + people[0].title() + ", " + cant_make.title() + " won't be making it tonight. Please welcome " + people[1].title() + " to dinner.")
print("Hello " + people[2].title() + ", " + cant_make.title() + " won't be making it tonight. Please welcome " + people[1].title() + " to dinner.")
print("Hello " + people[3].title() + ", " + cant_make.title() + " won't be making it tonight. Please welcome " + people[1].title() + " to dinner.")

# 3-6 Add more guests

people.append('steve jobs')
people.insert(0, 'peter attia')
people.insert(-1, 'andrew huberman')
print(people)

print("\nHello everyone, \nI've found a bigger table, which means I can invite more people!")
print("Please welcome " + people[0].title() + ", " + people[-2].title() + ", and " + people[-1].title() + "!")

# Shrinking Guest List:
print("\n" + str(people))
print("Unfortunately it looks as thought I can now only invite 2 people to dinner.")
person_1 = people.pop()
print("My sincerist apologies " + person_1.title() + ", but you'll not able to attend my dinner tonight.")
person_2 = people.pop()
print("My sincerist apologies " + person_2.title() + ", but you'll not able to attend my dinner tonight.")
person_3 = people.pop()
print("My sincerist apologies " + person_3.title() + ", but you'll not able to attend my dinner tonight.")
person_4 = people.pop()
print("My sincerist apologies " + person_4.title() + ", but you'll not able to attend my dinner tonight.")
person_5 = people.pop()
print("My sincerist apologies " + person_5.title() + ", but you'll not able to attend my dinner tonight.")

print("\nHello " + people[0].title() + ", you are still invited!")
print("Hello " + people[1].title() + ", you are still invited!")

del people[0]
del people[0]
people

Good morning Jordan Peterson, I would like to formally invite you to dinner this afternoon.
Good morning Eric Weinstien, I would like to formally invite you to dinner this afternoon.
Good morning David Goggins, I would like to formally invite you to dinner this afternoon.
Good morning Chris Williamson, I would like to formally invite you to dinner this afternoon.

Unfortunately it looks as though Eric Weinstien wont be able to make it to dinner.
['jordan peterson', 'joe rogan', 'david goggins', 'chris williamson']

Hello Jordan Peterson, Eric Weinstien won't be making it tonight. Please welcome Joe Rogan to dinner.
Hello David Goggins, Eric Weinstien won't be making it tonight. Please welcome Joe Rogan to dinner.
Hello Chris Williamson, Eric Weinstien won't be making it tonight. Please welcome Joe Rogan to dinner.
['peter attia', 'jordan peterson', 'joe rogan', 'david goggins', 'chris williamson', 'andrew huberman', 'steve jobs']

Hello everyone,
I've found a bigger table, which means I can invite more people!
Please welcome Peter Attia, Andrew Huberman, and Steve Jobs!

['peter attia', 'jordan peterson', 'joe rogan', 'david goggins', 'chris williamson', 'andrew huberman', 'steve jobs']
Unfortunately it looks as thought I can now only invite 2 people to dinner.
My sincerist apologies Steve Jobs, but you'll not able to attend my dinner tonight.
My sincerist apologies Andrew Huberman, but you'll not able to attend my dinner tonight.
My sincerist apologies Chris Williamson, but you'll not able to attend my dinner tonight.
My sincerist apologies David Goggins, but you'll not able to attend my dinner tonight.
My sincerist apologies Joe Rogan, but you'll not able to attend my dinner tonight.

Hello Peter Attia, you are still invited!
Hello Jordan Peterson, you are still invited!

[]

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort() # permanently sorts my list
print(cars)

cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['audi', 'bmw', 'subaru', 'toyota']
['toyota', 'subaru', 'bmw', 'audi']

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru', 'kia', 'lexus', 'mercedes']
print("Here is the original list:")
print(cars)

print("\nHere is the sorted list: ")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

print("\nHere is the list in reverse sorted order using the sorted function:")
print(sorted(cars, reverse=True))

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru', 'kia', 'lexus', 'mercedes']

Here is the sorted list:
['audi', 'bmw', 'kia', 'lexus', 'mercedes', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru', 'kia', 'lexus', 'mercedes']

Here is the list in reverse sorted order using the sorted function:
['toyota', 'subaru', 'mercedes', 'lexus', 'kia', 'bmw', 'audi']

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru', 'kia', 'lexus', 'mercedes']
print(cars)

cars.reverse()
print(cars)

cars.reverse()
print(cars)

len(cars)

['bmw', 'audi', 'toyota', 'subaru', 'kia', 'lexus', 'mercedes']
['mercedes', 'lexus', 'kia', 'subaru', 'toyota', 'audi', 'bmw']
['bmw', 'audi', 'toyota', 'subaru', 'kia', 'lexus', 'mercedes']

7

In [ ]:
# 3-8 Seeing the World

places = ['rio', 'paris', 'africa', 'rome', 'egnland', 'dubai']
print(places)

# use sorted() to print your list in alphabetical order without modifying the actual list

print(sorted(places))

# Show that your list is still in its original order by print it

print(places)

# Use sorted to print your list in reverse

print(sorted(places, reverse=True))
print(places)

# use reverse to change the order of your list again.
places.reverse()
print(places)
print(places)

# use sort to change your list so it's stored in alhabetical order.
places.sort()
print(places)
print(places)

# reverse alphabetical order

places.sort(reverse=True)
print(places)

['rio', 'paris', 'africa', 'rome', 'egnland', 'dubai']
['africa', 'dubai', 'egnland', 'paris', 'rio', 'rome']
['rio', 'paris', 'africa', 'rome', 'egnland', 'dubai']
['rome', 'rio', 'paris', 'egnland', 'dubai', 'africa']
['rio', 'paris', 'africa', 'rome', 'egnland', 'dubai']
['dubai', 'egnland', 'rome', 'africa', 'paris', 'rio']
['dubai', 'egnland', 'rome', 'africa', 'paris', 'rio']
['africa', 'dubai', 'egnland', 'paris', 'rio', 'rome']
['africa', 'dubai', 'egnland', 'paris', 'rio', 'rome']
['rome', 'rio', 'paris', 'egnland', 'dubai', 'africa']

# Practice the above lessons again (active recall)

In [ ]:
# 3-8 Seeing the World: Think of at least five places in the world you'd like to visit.

# Store the locations in a list.
# print your list in its original order.
locations = ['new york', 'paris', 'rio', 'dubai', 'greenland', 'iceland']
print(locations)

 # Use sorted() to print list in alphibetical order without changing the actual list
print(sorted(locations))
print(locations)

# Use sorted() to print your list in reverse alphabetical order without changing the order of the actaul list
print(sorted(locations, reverse=True))
print(locations)

# Use reverse() to change the order of your list. Print the list to show it's changed.
locations.reverse()
print(locations)
locations.reverse()
print(locations)
locations.sort()
print(locations)
locations.sort(reverse=True)
print(locations)

['new york', 'paris', 'rio', 'dubai', 'greenland', 'iceland']
['dubai', 'greenland', 'iceland', 'new york', 'paris', 'rio']
['new york', 'paris', 'rio', 'dubai', 'greenland', 'iceland']
['rio', 'paris', 'new york', 'iceland', 'greenland', 'dubai']
['new york', 'paris', 'rio', 'dubai', 'greenland', 'iceland']
['iceland', 'greenland', 'dubai', 'rio', 'paris', 'new york']
['new york', 'paris', 'rio', 'dubai', 'greenland', 'iceland']
['dubai', 'greenland', 'iceland', 'new york', 'paris', 'rio']
['rio', 'paris', 'new york', 'iceland', 'greenland', 'dubai']

In [ ]:
# 3-9 Dinner Guests: Use len() to print a message indicating the number of people you are inviting to dinner
people = ['jordan peterson', 'eric weinstien', 'david goggins', 'chris williamson']
print("Hello everyone. We will be having " + str(len(people)) + " people in total for dinner tonight!")

subjects = ['supervised learning', 'unsupervised learning', 'reinforcement learning', 'deep learning', 'model evaluation', 'model deployment']
subjects.append('neural networks') # adding to the end of the list
print(subjects)
print(subjects[1].title())
subjects.insert(1, 'convelutional networks')
print(subjects)
del subjects[2]
print(subjects)

Hello everyone. We will be having 4 people in total for dinner tonight!
['supervised learning', 'unsupervised learning', 'reinforcement learning', 'deep learning', 'model evaluation', 'model deployment', 'neural networks']
Unsupervised Learning
['supervised learning', 'convelutional networks', 'unsupervised learning', 'reinforcement learning', 'deep learning', 'model evaluation', 'model deployment', 'neural networks']
['supervised learning', 'convelutional networks', 'reinforcement learning', 'deep learning', 'model evaluation', 'model deployment', 'neural networks']