<a href="https://colab.research.google.com/github/BKnightHD/Python-CC/blob/main/Part%201%3A%20Basics/Chapter%205%20-%20If%20Statments/ChapterReview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# print the values in car list
cars = ['audi', 'bmw', 'subaru', 'toyota']
for car in cars:
  print(f"{car.title()}")
print("------\n")

# if statement embeded in for loop for conditioning
cars = ['audi', 'bmw', 'subaru', 'toyota']
for car in cars:
  if car =='bmw':
    print(f"Ah you hve a {car.upper()}, I love those!")
  else:
    print(f"{car.title()}")
print("------\n")

# If statements are basiclly conditional tests, that is, they test whether something is TRUE or FALSE

Audi
Bmw
Subaru
Toyota
------

Audi
Ah you hve a BMW, I love those!
Subaru
Toyota
------

In [ ]:
# Here, we are checking for equality
cars = 'bmw'
cars == 'bmw' # (==) is the quality operator, it returns TRUE or FALSE for the argument.

True

In [ ]:
cars = 'adui' # "Set the value = to audi"
cars == 'bmw' # "Is the value = to bmw?"

False

### Converting the test to lowercase now matter the answer given

In [ ]:
# Sometimes case matter, sometimes it doesnt, if it doesn't you can convert the variables assigned valye to lower before doing the comparison
car = 'Audi'
car.lower() == 'audi' # converting the answer given to lowercase, no matter the input

True

In [ ]:
car

'Audi'

In [ ]:
# Checking for inequality
requested_topping = 'mushrooms'

if requested_topping != 'anchovies':
  print("Hold the anchovies")

Hold the anchovies

In [ ]:
# Testing numerical values
age = 18
age == 17

False

In [ ]:
answer = 17
# Testing to see if answer given is correct
if answer != 42:
  print(f"Sorry, {answer} is not the correct answer. Please try again!")

Sorry, 17 is not the correct answer. Please try again!

### Mathematical comparisons

In [ ]:
age = 19
age < 21

True

In [ ]:
age <= 21

True

In [ ]:
age > 21

False

In [ ]:
age >= 21

False

### AND conditional testing

In [ ]:
# Checking multiple conditions
age_0 = 22
age_1 = 18
age_0 >= 21 and age_1 >=21

False

In [ ]:
age_1 = 22
age_0 >= 21 and age_1 >= 21

True

##Self test for understanding
* I want to generate a random age for a freind between the ages 27 and 29.
* I also want to generate a random name for my freind
* Then I want to print a statement telling me weather or not the freind is older than me
* I want this to be a loop a random number everytime so the answers can be difffernt anytime I run the program.

In [ ]:
# First I'll set my age
my_age = 28

# Import random package
import random

freind_name = ['ellis', "giusseppe", 'andy', 'eddie' ]
#set freinds age to random value
freind_age = random.choice(range(27, 30))
freind_name_choice = random.choice(freind_name)
print(f"My age is {my_age}")
if freind_age > my_age:
   print(f"My freind {freind_name_choice.title()} is {freind_age}, so he's older than me.")
elif freind_age < my_age:
   print(f"My freind {freind_name_choice.title()} is {freind_age}, so he's younger than me.")
elif freind_age == my_age:
   print(f"My friend {freind_name_choice.title()} is {freind_age}, so we're the same age.")

My age is 28
My freind Ellis is 29, so he's older than me.

### OR conditional testing

In [ ]:
age_0 = 22
age_1 = 18
age_0 >= 21 or age_1 >= 21

True

In [ ]:
# Checking if value is in a list. IN argument
requested_toppings = ['mushrooms', 'onions', 'pianeapple']
'mushrooms' in requested_toppings

True

In [ ]:
# Checking if value is in a list. IN argument
requested_toppings = ['mushrooms', 'onions', 'pianeapple']
'pepperoni' in requested_toppings

False

### NOT IN argument

In [ ]:
banned_users = ['andrew', 'carolina', 'david']
user = 'marie'

if user not in banned_users:
  print(user.title() + ", you can post a response if you wish.")

Marie, you can post a response if you wish.

###Practice
* Random choice from list and check if it's in other list.
* Print different statments for each case

In [ ]:
#import packages
import random
# Checking my understanding with NOT IN arguemnt
people = ['kathy', 'jim', 'austin', 'emily']
users = ['john', 'austin', 'jerry', 'kathy', 'andy', 'justin']

user = random.choice(users)
if user not in people: # NOT IN argument utlization
  print(f"Sorry, the name {user.title()} chosen from second list, is not in the first list")
else:
  print(f"There is a match! The name {user.title()} is in both lists.")

There is a match! The name Kathy is in both lists.

In [ ]:
#import packages
import random
# Checking my understanding with NOT IN arguemnt
people = ['kathy', 'jim', 'austin', 'emily']
users = ['john', 'austin', 'jerry', 'kathy', 'andy', 'justin']

user = random.choice(users)

for user in users: # Adding for, iterates this argument multiple times

  if user not in people: # NOT IN argument utlization
    print(f"Sorry, the name {user.title()} chosen from second list, is not in the first list")
  else:
    print(f"There is a match! The name {user.title()} is in both lists.")

Sorry, the name John chosen from second list, is not in the first list
There is a match! The name Austin is in both lists.
Sorry, the name Jerry chosen from second list, is not in the first list
There is a match! The name Kathy is in both lists.
Sorry, the name Andy chosen from second list, is not in the first list
Sorry, the name Justin chosen from second list, is not in the first list

In [ ]:
age = 19
if age >= 18:
  print("You are old enough to vote")

You are old enough to vote

In [ ]:
age = 17
if age >= 18:
  print(f"You are {age}, so you are old enough to vote")
else:
  print(f"Sorry, you are {age}, you are too young to vote.")
  print("Please register to vote as soon as you turn 18!")

Sorry, you are 17, you are too young to vote.
Please register to vote as soon as you turn 18!

#Strucutres of if statements
* if-else - Only two possible situations to evaluate
* if-elif-else - more than two possile situations to evaluate

In [ ]:
# Lets say we want to set conditions based on 3 possible situations
# 1. Admission for anyone under the age 4 is free
# 2. Admission for anyone between the ages of 4 and 18 is $5
# 3. Admission for anyone age 18 or older is $10.
import random
age = range(1, 32)
age_of_person = random.choice(age)
if age_of_person < 4:
  price = 'free'
  print(f"You are {int(age_of_person)}, you're ticket is {str(price.upper())}")
elif age_of_person >=4 and age_of_person < 18:
  price = 5
  print(f"You are {int(age_of_person)} , your ticket price is ${(price)}.")
else:
  price = 10
  print(f"You are {int(age_of_person)} , your ticket price is ${(price)}.")

You are 11 , your ticket price is $5.

In [ ]:
# Condenced Version
# You can do this same program by taking the print stament out of the loop and only running it once.
import random
age = range(1, 32)
age_of_person = random.choice(age)
if age_of_person < 4:
  price = 0
elif age_of_person < 18:
  price = 5
else:
  price = 10

print(f"You are {age_of_person} years old, your ticket is ${(price)}.")

You are 9 years old, your ticket is $5.

In [ ]:
age = 12

if age < 4:
  price = 0
elif age < 18:
  price = 5
elif age < 65:
  price = 10
else:
  price = 5

print("Your admission cost is $" + str(price) + ".")

Your admission cost is $5.

In [ ]:
# Testing multiple Conditions
requested_toppings = ['mushrooms', 'extra', 'extra cheese']

if 'mushrooms' in requested_toppings:
  print("Adding mushrooms.")
if 'pepperoni' in requested_toppings:
  print("Adding pepperoni.")
if 'extra cheese' in requested_toppings:
  print("Adding extra cheese.")

print("\nFinished making your pizza!")

Adding mushrooms.
Adding extra cheese.

Finished making your pizza!

In [6]:
alien_color = ['green', 'yellow', 'red']
for color in alien_color:
  if color == 'green':
    points = 5
    print(f"You shot down a {color.upper()} alien!")
    print(f"You scored {points} points!\n")
  else:
    points = 0
    print(f"You shot down a {color.upper()} alien")
    print(f"You scored {points} points!\n")

You shot down a GREEN alien!
You scored 5 points!

You shot down a YELLOW alien
You scored 0 points!

You shot down a RED alien
You scored 0 points!

In [8]:
alien_color = ['green', 'yellow', 'red']
for color in alien_color:
  if color == 'green':
    points = 5
    print(f"You shot down a {color.upper()} alien!")
    print(f"You scored {points} points!\n")
  elif color == 'yellow':
    points = 10
    print(f"You shot down a {color.upper()} alien!")
    print(f"You scored {points} points!\n")
  else:
    points = 15
    print(f"You shot down a {color.upper()} alien")
    print(f"You scored {points} points!\n")

You shot down a GREEN alien!
You scored 5 points!

You shot down a YELLOW alien!
You scored 10 points!

You shot down a RED alien
You scored 15 points!

In [19]:
import random
age_range = range(0, 100)
age = random.choice(age_range)
if age < 2:
  stage = 'baby'
elif age >= 2 and age < 4:
  stage = 'toddler'
elif age >= 4 and age < 13:
  stage = 'kid'
elif age >= 13 and age < 20:
  stage = 'teenager'
elif age >= 20 and age < 65:
  stage = 'adult'
elif age >= 65:
  stage = 'elder'

print(f"You are {age} years old; that makes you a {stage}.")

You are 5 years old; that makes you a kid.

In [26]:
favorite_fruits = ['orange', 'pineapple', 'apple', 'bananna', 'grapes', 'strawberry']
other_fruits = ['dragonfruit', 'kiwi', 'blackberry', 'bananna', 'pinapple', 'tangerine']
for fruit in other_fruits:
  if fruit in favorite_fruits:
    print(f"{fruit.title()}s are in both lists.")
  else:
    print(f"{fruit.title()}s are only in the second list.")

Dragonfruits are only in the second list.
Kiwis are only in the second list.
Blackberrys are only in the second list.
Banannas are in both lists.
Pinapples are only in the second list.
Tangerines are only in the second list.

In [28]:
requested_toppings = ['mushrooms', 'green peppers', 'extra cheese']

for requested_topping in requested_toppings:
  print(f"Adding {requested_topping}.")

print("\nFinished making your pizza!")

Adding mushrooms.
Adding green peppers.
Adding extra cheese.

Finished making your pizza!

In [30]:
available_toppings = ['mushrooms', 'olives', 'green peppers', 'pepperoni', 'pineapple', 'extra cheese']
requested_toppings = ['mushrooms', 'french fries', 'extra cheese']
for requested_topping in requested_toppings:
  if requested_topping in available_toppings:
    print(f"Adding {requested_topping}.")
  else:
    print(f"Sorry, we dont have {requested_topping}.")
print("\nFinished making your pizza!")

Adding mushrooms.
Sorry, we dont have french fries.
Adding extra cheese.

Finished making your pizza!

In [32]:
# 5-8
username = ['StellarWhisper', 'MidnightJoker', 'SerenePhoenix', 'admin', 'ElectricVibes23', 'LunaCrest87']
for name in username:
  if name == 'admin':
    print(f"Hello {name.title()}, would you like to see a status report?")
  else:
    print(f"Hello {name}, thank you for logging in again.")

Hello StellarWhisper, thank you for logging in again.
Hello MidnightJoker, thank you for logging in again.
Hello SerenePhoenix, thank you for logging in again.
Hello Admin, would you like to see a status report?
Hello ElectricVibes23, thank you for logging in again.
Hello LunaCrest87, thank you for logging in again.

In [33]:
# 5-9
username = []
if name not in username:
  print("We need to find some users!")
else:
  print(f"Hello {name}, thank you for logging in again.")

We need to find some users!

In [39]:
# 5-10
current_users = ['StellarWhisper', 'MidnightJoker', 'SerenePhoenix', 'ElectricVibes23', 'LunaCrest87', 'QuantumGazer', 'AzureSerenade', 'MysticPulse21']
new_users = ['StellarWhisper', 'LunaCrest87', 'NeonEcho', 'CrystalSky', 'ShadowWalker']

# Convert current_users to lowercase
current_users_lower = [user.lower() for user in current_users]

for user in new_users:
    # Convert each user in new_users to lowercase for comparison
    user_lower = user.lower()
    if user_lower in current_users_lower:
        print(f"The username '{user}' is not available. Please enter a new username.")
    else:
        print(f"The username '{user}' is available.")

The username 'StellarWhisper' is not available. Please enter a new username.
The username 'LunaCrest87' is not available. Please enter a new username.
The username 'NeonEcho' is available.
The username 'CrystalSky' is available.
The username 'ShadowWalker' is available.

In [56]:
# 5-11
numbers = [1,2,3,4,5,6,7,8,9]
for x in numbers:
  if x == 1:
    place = '1st'
    print(f"{x} is in {place} place.")
  elif x == 2:
    place = '2nd'
    print(f"{x} is in {place} place.")
  elif x == 3:
    place = '3rd'
    print(f"{x} is in {place} place.")
  elif x == 4:
    place = '4th'
    print(f"{x} is in {place} place.")
  elif x == 5:
    place = '5th'
    print(f"{x} is in {place} place.")
  elif x == 6:
    place = '6th'
    print(f"{x} is in {place} place.")
  elif x == 7:
    place = '7th'
    print(f"{x} is in {place} place.")
  elif x == 8:
    place = '8th'
    print(f"{x} is in {place} place.")
  elif x == 9:
    place = '9th'
    print(f"{x} is in {place} place.")

1 is in 1st place.
2 is in 2nd place.
3 is in 3rd place.
4 is in 4th place.
5 is in 5th place.
6 is in 6th place.
7 is in 7th place.
8 is in 8th place.
9 is in 9th place.