# Working With Lists (Looping)

- For Loops

In [ ]:
magicians = ['alice', 'david', 'carolina'] # first we define the list
for magician in magicians: # this line tells Python to pull a name from the list magicians, and associate it with the variable magician
  print(magician.title()) # Python repeats line 2 and 3 for each item in the list

Alice
David
Carolina

We can interpret the above code as follows: "For every magician in the list of magicians, print the magician's name,"

It's good to keep naming conventions simple and intuitive like so:

- for cat in cats:

- for dog in dogs:

- for item in list_of_items:

In [ ]:
for magician in magicians:
  print(f"{magician.title()}, that was a great trick!")
  print(f"I can't wait to see your next trick {magician.title()}!\n")
print("Thank you all for the great show!") # This line is not indented, so Python does not count it in the for loop

Alice, that was a great trick!
I can't wait to see your next trick Alice!

David, that was a great trick!
I can't wait to see your next trick David!

Carolina, that was a great trick!
I can't wait to see your next trick Carolina!

Thank you all for the great show!

In [ ]:
people = ['alice', 'david', 'carolina']
for freinds in people: #don't forget the colon
  print(f"Hello {freinds.title()}!")
print("\nI hope you guys are ready to code!")

Hello Alice!
Hello David!
Hello Carolina!

I hope you guys are ready to code!

# Try it yourself
* 4-1 Pizzas
* 4-2 Animals

In [ ]:
#4-1
pizza = ['bacon', 'pinapple', 'jalapeno']
for toppings in pizza:
  print(f"One of my favorite pizzas is {toppings.title()}.")
print("\nHonestly, I just really like pizza!\n")

#4-2
cats = ['tiger', 'cheeta', 'lepord']
for cat in cats:
  print(f" You know, a {cat.title()} would make a cool pet!")

One of my favorite pizzas is Bacon.
One of my favorite pizzas is Pinapple.
One of my favorite pizzas is Jalapeno.

Honestly, I just really like pizza!

 You know, a Tiger would make a cool pet!
 You know, a Cheeta would make a cool pet!
 You know, a Lepord would make a cool pet!

In [ ]:
for value in range(1, 5): #range(x, y) function will not print the last number (off by one behavior of computer programming)
 print(value)
print("-----------------------------\n")

for value in range(6): #range(6) gives us a list of number from 0-5
 print(value)
print("-----------------------------\n")

numbers = list(range(1,6)) #wrapping list funcition around range creates a list with assocated range.
print(numbers)
print("-----------------------------\n")

even_numbers = list(range(2,11,2)) #rang(x, y, z) starts at x, and adds z until it passes or reaches y.
print(even_numbers)

1
2
3
4
-----------------------------

0
1
2
3
4
5
-----------------------------

[1, 2, 3, 4, 5]
-----------------------------

[2, 4, 6, 8, 10]

In [ ]:
# We want to create a list of the first 10 squares, that is, 1^2, 2^2, 3^2, 4^2 and so on..
squares = [] # We start with an empty list called squares
for value in range(1,11): #Loop through each value from 1 to 10
  square = value**2 # Square each value
  squares.append(square) # Add the results to the list until it gets to 10

print(squares) # print the resulting list

squares = []
for value in range(1,11):
  squares.append(value**2)
print(squares)

print(min(squares))
print(max(squares))
print(sum(squares))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
1
100
385

In [ ]:
numbers = []
for value in range(1,11):
  numbers.append(value**3)
print(numbers)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
sqaures = [value**2 for value in range(1, 11)] #this is a list comprehension, it allows you to generate the same list in just one line of code
print(sqaures)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Try it yourself
* 4-3 Counting to Twenty
* 4-4 One Million
* 4-5 Summing a Million
* 4-6 Odd Numbers
* 4-7 Threes
* 4-8 Cubes
* 4-9 Cube Comprehension

In [ ]:
#4-3 Use a for loop to print the numbers from 1 to 20, inclusive
twenty = []
for numbers in range(1,21):
  twenty.append(numbers)
print(twenty)

#4-6 Use the third argument of the range() function to make a list of the odd numbers from 1 to 20. Use a for loop to print each number.
thirds =[]
for third in (range(1,21,2)):
  thirds.append(third)
print(thirds)

#4-7 MAke a list of the multiples of 3 from 3 to 30. Use a for loop to print the numbners in your list.
threes = []
for three in range(3,31,3):
  threes.append(three)
print(threes)

#4-8 Make a list of the first 1- cubes (that is, the cube of each integer from 1 through 10), and use a for loop to print out the value of each cube
cube = []
for cubes in range(1,10):
  cube.append(cubes**3)
print(cube)

#4-9 Use a list comprehension to generate a list of the first 10 cubes
cubes = [value**3 for value in range(1,10)]
print(cubes)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[1, 8, 27, 64, 125, 216, 343, 512, 729]
[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [8]:
#practicing random code 11-8-23

people = ['jake', 'kim', 'andrew']
sorted_people = sorted(people)
print(f"{str(sorted_people).title()}\n")
for peoples in people:
  print(f"Hello {peoples.title()}, ready to study?\n")
print("Well lets get it then!")

['Andrew', 'Jake', 'Kim']

Hello Jake, ready to study?

Hello Kim, ready to study?

Hello Andrew, ready to study?

Well lets get it then!

In [28]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(f"{digits[0:4]}\n") #prints the first 4 numbers in the list
names = ['andrew', 'jacob', 'emily', 'kimberly', 'brian']
print(f"{str(names[0:3]).title()}\n") #subset of list
for value in sorted(names):
  print(value.title())
print("\n")
print(names[:3]) #wihtout a starting index, Python stars at the beginning of the list
print(names[2:]) #Python returns values starting from the third item through the end of the list
print(names[:-2]) #prints list minus the last two names
print(names[-3:]) #prints last three names

[1, 2, 3, 4]

['Andrew', 'Jacob', 'Emily']

Andrew
Brian
Emily
Jacob
Kimberly


['andrew', 'jacob', 'emily']
['emily', 'kimberly', 'brian']
['andrew', 'jacob', 'emily']
['emily', 'kimberly', 'brian']

In [43]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("The roster on the team consists of:\n\t")

for player in players[:3]:
  print(f"{str(player).title()}\n")

print("\n---------------")
my_foods = ['pizza', 'falafel', 'carrot cake']
freinds_foods = my_foods[:] #Copys the prior list

print("My favorite foods are:")
print(my_foods)

print("\nMy freind's favorite foods are:")
print(freinds_foods)

# To show that we have two seperate lists, we'll add new foods to each list
my_foods.append('fruit')
freinds_foods.append('ice cream')
print(str(sorted(my_foods)).upper())
print(str(sorted(freinds_foods)).upper())

The roster on the team consists of:

Charles

Martina

Michael


---------------
My favorite foods are:
['pizza', 'falafel', 'carrot cake']

My freind's favorite foods are:
['pizza', 'falafel', 'carrot cake']
['CARROT CAKE', 'FALAFEL', 'FRUIT', 'PIZZA']
['CARROT CAKE', 'FALAFEL', 'ICE CREAM', 'PIZZA']

# Try it yourself
* 4-10 Slices
* 4-11 My Pizzas, Your Pizzas

In [65]:
#4-10
# Print the first three items in a list
more_cars = ['mercedes-benz', 'lambrogini', 'volvo', 'farari', 'honda', 'bmw', 'cadilac']
print("The first three items from my more_cars list are:")
for cars in (more_cars[:3]):
  print(f"- {str(cars).title()}")
print("\nThe middle three items from my more_cars list are:")
for cars in (more_cars[2:5]):
  print(f"- {str(cars).title()}")
print("\nThe last three items from my more_cars list are:")
for cars in (more_cars[-3:]):
  print(f"- {str(cars).title()}")
print("\n---------------")

#4-11
pizza = ['bacon', 'pinapple', 'jalapeno']
freinds_pizzas = pizza[:]
pizza.append('sasuage')
freinds_pizzas.insert(2,"mushroom")
# Prove that you have two deperate lists
print("My favorite pizzas are:")
for mine in pizza:
  print(str(mine).title())
print("\nMy freinds favorite pizzas are:")
for theres in freinds_pizzas:
  print(str(theres).title())
print("\n---------------")

The first three items from my more_cars list are:
- Mercedes-Benz
- Lambrogini
- Volvo

The middle three items from my more_cars list are:
- Volvo
- Farari
- Honda

The last three items from my more_cars list are:
- Honda
- Bmw
- Cadilac
My favorite pizzas are:
Bacon
Pinapple
Jalapeno
Sasuage

My freinds favorite pizzas are:
Bacon
Pinapple
Mushroom
Jalapeno

In [70]:
# Tuples are whats known as 'immutable' list, or, a list that cannot change. To do this, you place parentheses instead of brackets
dimensions = (200, 50) # Tuple
print(dimensions[0])
print(dimensions[1])

for dimension in dimensions:
  print(dimension)

print("Original dimensions:")
for dimension in dimensions:
  print(dimension)

dimensions = (400, 100) # Here, we assign a new value to the raible that holds the tuple
print("\nModifies dimensions:")
for dimension in dimensions:
  print(dimension)

200
50
200
50
Original dimensions:
200
50

Modifies dimensions:
400
100

In [95]:
#Try it yourself
#4-13 Buffet: a buffet-style restaurant offers only fice basic foods. Think of five simple foods, and store them in a tuple
menu = ('foie gras with truffle reduction', 'lobster bisque with caviar', 'beef wellington', 'truffle risotto', 'chocolate fondant with raspberry coulis', 'peking duck with mandarin pancakes')




# Use a for loop to print each food the resaurant offers
print("Hello ladies and gentlemen, on tongiht's menu we have the following:")
for food in menu:
  print(f"- {food.title()}")




# Change the two items on the menu and notify the customers
print(f"\nChange of plans, the chef has informed us that we will be removing the {(menu)[-1].title()} and the {menu[-2].title()} from tonights menu")
print("\nPlease see our new menu below:")
menu = ('foie gras with truffle reduction', 'lobster bisque with caviar', 'beef wellington', 'truffle risotto', 'osso buco with saffron risotto', 'oysters rockefeller')
for food in menu:
  print (f"- {food.title()}")

Hello ladies and gentlemen, on tongiht's menu we have the following:
- Foie Gras With Truffle Reduction
- Lobster Bisque With Caviar
- Beef Wellington
- Truffle Risotto
- Chocolate Fondant With Raspberry Coulis
- Peking Duck With Mandarin Pancakes

Change of plans, the chef has informed us that we will be removing the Peking Duck With Mandarin Pancakes and the Chocolate Fondant With Raspberry Coulis from tonights menu

Please see our new menu below:
- Foie Gras With Truffle Reduction
- Lobster Bisque With Caviar
- Beef Wellington
- Truffle Risotto
- Osso Buco With Saffron Risotto
- Oysters Rockefeller

Object `PEP8` not found.