# Working With Lists (Looping)

- For Loops

In [ ]:
magicians = ['alice', 'david', 'carolina'] # first we define the list
for magician in magicians: # this line tells Python to pull a name from the list magicians, and associate it with the variable magician
  print(magician.title()) # Python repeats line 2 and 3 for each item in the list

Alice
David
Carolina

We can interpret the above code as follows: "For every magician in the list of magicians, print the magician's name,"

It's good to keep naming conventions simple and intuitive like so:

- for cat in cats:

- for dog in dogs:

- for item in list_of_items:

In [ ]:
for magician in magicians:
  print(f"{magician.title()}, that was a great trick!")
  print(f"I can't wait to see your next trick {magician.title()}!\n")
print("Thank you all for the great show!") # This line is not indented, so Python does not count it in the for loop

Alice, that was a great trick!
I can't wait to see your next trick Alice!

David, that was a great trick!
I can't wait to see your next trick David!

Carolina, that was a great trick!
I can't wait to see your next trick Carolina!

Thank you all for the great show!

In [ ]:
people = ['alice', 'david', 'carolina']
for freinds in people: #don't forget the colon
  print(f"Hello {freinds.title()}!")
print("\nI hope you guys are ready to code!")

Hello Alice!
Hello David!
Hello Carolina!

I hope you guys are ready to code!

# Try it yourself
* 4-1 Pizzas
* 4-2 Animals

In [ ]:
#4-1
pizza = ['bacon', 'pinapple', 'jalapeno']
for toppings in pizza:
  print(f"One of my favorite pizzas is {toppings.title()}.")
print("\nHonestly, I just really like pizza!\n")

#4-2
cats = ['tiger', 'cheeta', 'lepord']
for cat in cats:
  print(f" You know, a {cat.title()} would make a cool pet!")

One of my favorite pizzas is Bacon.
One of my favorite pizzas is Pinapple.
One of my favorite pizzas is Jalapeno.

Honestly, I just really like pizza!

 You know, a Tiger would make a cool pet!
 You know, a Cheeta would make a cool pet!
 You know, a Lepord would make a cool pet!

In [ ]:
for value in range(1, 5): #range(x, y) function will not print the last number (off by one behavior of computer programming)
 print(value)
print("-----------------------------\n")

for value in range(6): #range(6) gives us a list of number from 0-5
 print(value)
print("-----------------------------\n")

numbers = list(range(1,6)) #wrapping list funcition around range creates a list with assocated range.
print(numbers)
print("-----------------------------\n")

even_numbers = list(range(2,11,2)) #rang(x, y, z) starts at x, and adds z until it passes or reaches y.
print(even_numbers)

1
2
3
4
-----------------------------

0
1
2
3
4
5
-----------------------------

[1, 2, 3, 4, 5]
-----------------------------

[2, 4, 6, 8, 10]

In [ ]:
# We want to create a list of the first 10 squares, that is, 1^2, 2^2, 3^2, 4^2 and so on..
squares = [] # We start with an empty list called squares
for value in range(1,11): #Loop through each value from 1 to 10
  square = value**2 # Square each value
  squares.append(square) # Add the results to the list until it gets to 10

print(squares) # print the resulting list

squares = []
for value in range(1,11):
  squares.append(value**2)
print(squares)

print(min(squares))
print(max(squares))
print(sum(squares))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
1
100
385

In [ ]:
numbers = []
for value in range(1,11):
  numbers.append(value**3)
print(numbers)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
sqaures = [value**2 for value in range(1, 11)] #this is a list comprehension, it allows you to generate the same list in just one line of code
print(sqaures)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Try it yourself
* 4-3 Counting to Twenty
* 4-4 One Million
* 4-5 Summing a Million
* 4-6 Odd Numbers
* 4-7 Threes
* 4-8 Cubes
* 4-9 Cube Comprehension

In [ ]:
#4-3 Use a for loop to print the numbers from 1 to 20, inclusive
twenty = []
for numbers in range(1,21):
  twenty.append(numbers)
print(twenty)

#4-6 Use the third argument of the range() function to make a list of the odd numbers from 1 to 20. Use a for loop to print each number.
thirds =[]
for third in (range(1,21,2)):
  thirds.append(third)
print(thirds)

#4-7 MAke a list of the multiples of 3 from 3 to 30. Use a for loop to print the numbners in your list.
threes = []
for three in range(3,31,3):
  threes.append(three)
print(threes)

#4-8 Make a list of the first 1- cubes (that is, the cube of each integer from 1 through 10), and use a for loop to print out the value of each cube
cube = []
for cubes in range(1,10):
  cube.append(cubes**3)
print(cube)

#4-9 Use a list comprehension to generate a list of the first 10 cubes
cubes = [value**3 for value in range(1,10)]
print(cubes)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[1, 8, 27, 64, 125, 216, 343, 512, 729]
[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
#practicing random code 11-8-23

people = ['jake', 'kim', 'andrew']
sorted_people = sorted(people)
print(f"{str(sorted_people).title()}\n")
for peoples in people:
  print(f"Hello {peoples.title()}, ready to study?\n")
print("Well lets get it then!")

['Andrew', 'Jake', 'Kim']

Hello Jake, ready to study?

Hello Kim, ready to study?

Hello Andrew, ready to study?

Well lets get it then!

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(f"{digits[0:4]}\n") #prints the first 4 numbers in the list
names = ['andrew', 'jacob', 'emily', 'kimberly', 'brian']
print(f"{str(names[0:3]).title()}\n") #subset of list
for value in sorted(names):
  print(value.title())
print("\n")
print(names[:3]) #wihtout a starting index, Python stars at the beginning of the list
print(names[2:]) #Python returns values starting from the third item through the end of the list
print(names[:-2]) #prints list minus the last two names
print(names[-3:]) #prints last three names

[1, 2, 3, 4]

['Andrew', 'Jacob', 'Emily']

Andrew
Brian
Emily
Jacob
Kimberly


['andrew', 'jacob', 'emily']
['emily', 'kimberly', 'brian']
['andrew', 'jacob', 'emily']
['emily', 'kimberly', 'brian']

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("The roster on the team consists of:\n\t")

for player in players[:3]:
  print(f"{str(player).title()}\n")

print("\n---------------")
my_foods = ['pizza', 'falafel', 'carrot cake']
freinds_foods = my_foods[:] #Copys the prior list

print("My favorite foods are:")
print(my_foods)

print("\nMy freind's favorite foods are:")
print(freinds_foods)

# To show that we have two seperate lists, we'll add new foods to each list
my_foods.append('fruit')
freinds_foods.append('ice cream')
print(str(sorted(my_foods)).upper())
print(str(sorted(freinds_foods)).upper())

The roster on the team consists of:

Charles

Martina

Michael


---------------
My favorite foods are:
['pizza', 'falafel', 'carrot cake']

My freind's favorite foods are:
['pizza', 'falafel', 'carrot cake']
['CARROT CAKE', 'FALAFEL', 'FRUIT', 'PIZZA']
['CARROT CAKE', 'FALAFEL', 'ICE CREAM', 'PIZZA']

# Try it yourself
* 4-10 Slices
* 4-11 My Pizzas, Your Pizzas

In [ ]:
#4-10
# Print the first three items in a list
more_cars = ['mercedes-benz', 'lambrogini', 'volvo', 'farari', 'honda', 'bmw', 'cadilac']
print("The first three items from my more_cars list are:")
for cars in (more_cars[:3]):
  print(f"- {str(cars).title()}")
print("\nThe middle three items from my more_cars list are:")
for cars in (more_cars[2:5]):
  print(f"- {str(cars).title()}")
print("\nThe last three items from my more_cars list are:")
for cars in (more_cars[-3:]):
  print(f"- {str(cars).title()}")
print("\n---------------")

#4-11
pizza = ['bacon', 'pinapple', 'jalapeno']
freinds_pizzas = pizza[:]
pizza.append('sasuage')
freinds_pizzas.insert(2,"mushroom")
# Prove that you have two deperate lists
print("My favorite pizzas are:")
for mine in pizza:
  print(str(mine).title())
print("\nMy freinds favorite pizzas are:")
for theres in freinds_pizzas:
  print(str(theres).title())
print("\n---------------")

The first three items from my more_cars list are:
- Mercedes-Benz
- Lambrogini
- Volvo

The middle three items from my more_cars list are:
- Volvo
- Farari
- Honda

The last three items from my more_cars list are:
- Honda
- Bmw
- Cadilac
My favorite pizzas are:
Bacon
Pinapple
Jalapeno
Sasuage

My freinds favorite pizzas are:
Bacon
Pinapple
Mushroom
Jalapeno

In [ ]:
# Tuples are whats known as 'immutable' list, or, a list that cannot change. To do this, you place parentheses instead of brackets
dimensions = (200, 50) # Tuple
print(dimensions[0])
print(dimensions[1])

for dimension in dimensions:
  print(dimension)

print("Original dimensions:")
for dimension in dimensions:
  print(dimension)

dimensions = (400, 100) # Here, we assign a new value to the raible that holds the tuple
print("\nModifies dimensions:")
for dimension in dimensions:
  print(dimension)

200
50
200
50
Original dimensions:
200
50

Modifies dimensions:
400
100

In [ ]:
#Try it yourself
#4-13 Buffet: a buffet-style restaurant offers only fice basic foods. Think of five simple foods, and store them in a tuple
menu = ('foie gras with truffle reduction', 'lobster bisque with caviar', 'beef wellington', 'truffle risotto', 'chocolate fondant with raspberry coulis', 'peking duck with mandarin pancakes')




# Use a for loop to print each food the resaurant offers
print("Hello ladies and gentlemen, on tongiht's menu we have the following:")
for food in menu:
  print(f"- {food.title()}")




# Change the two items on the menu and notify the customers
print(f"\nChange of plans, the chef has informed us that we will be removing the {(menu)[-1].title()} and the {menu[-2].title()} from tonights menu")
print("\nPlease see our new menu below:")
menu = ('foie gras with truffle reduction', 'lobster bisque with caviar', 'beef wellington', 'truffle risotto', 'osso buco with saffron risotto', 'oysters rockefeller')
for food in menu:
  print (f"- {food.title()}")

Hello ladies and gentlemen, on tongiht's menu we have the following:
- Foie Gras With Truffle Reduction
- Lobster Bisque With Caviar
- Beef Wellington
- Truffle Risotto
- Chocolate Fondant With Raspberry Coulis
- Peking Duck With Mandarin Pancakes

Change of plans, the chef has informed us that we will be removing the Peking Duck With Mandarin Pancakes and the Chocolate Fondant With Raspberry Coulis from tonights menu

Please see our new menu below:
- Foie Gras With Truffle Reduction
- Lobster Bisque With Caviar
- Beef Wellington
- Truffle Risotto
- Osso Buco With Saffron Risotto
- Oysters Rockefeller

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician)

# "For every magician in the list of magicians, print the magician's name."

alice
david
carolina

In [ ]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
  print("Wow " + magician.title() + "! That was a great trick.")
  print("I can't wait to see yoour next trick, " + magician.title() + "!\n")

print("Thank you, everyone. That was a great magic show!")

Wow Alice! That was a great trick.
I can't wait to see yoour next trick, Alice!

Wow David! That was a great trick.
I can't wait to see yoour next trick, David!

Wow Carolina! That was a great trick.
I can't wait to see yoour next trick, Carolina!

Thank you, everyone. That was a great magic show!

In [ ]:
# 4-1 Pizzas: Think of at least three kinds of your favorite pizza.

pizzas = ['pineapple', 'cheese', 'bacon']

print("Here is a list of my favorite pizzas:")
for pizza in pizzas:
  print("\t" + pizza.title())

Here is a list of my favorite pizzas:
	Pineapple
	Cheese
	Bacon

In [ ]:
pizzas = ['pineapple', 'cheese', 'bacon']

for pizza in pizzas:
  print("I like " + pizza + " pizza!")

print("\nAs you can tell, I really like pizza.")

I like pineapple pizza!
I like cheese pizza!
I like bacon pizza!

As you can tell, I really like pizza.

In [ ]:
# 4-2 Animals: Think of at least three different animals that have a common characteristic.

animals = ['snake', 'lizard', 'cat', 'dog']
animals.sort()

for animal in animals:
  print("A " + animal + " would make a great pet.")

print("Did you know that all of these animals are considered standard pets.")

A cat would make a great pet.
A dog would make a great pet.
A lizard would make a great pet.
A snake would make a great pet.
Did you know that all of these animals are considered standard pets.

In [ ]:
for value in range(1,4):
  print(value)

1
2
3

In [ ]:
for value in range(1,5):
  print(value)

print("\n")

for value in range(1,6):
  print(value)

print("\n")

# Use range() to make a list of number
numbers = list(range(1,6))
print(numbers)

1
2
3
4


1
2
3
4
5


[1, 2, 3, 4, 5]

In [ ]:
even_numbers = list(range(1,11,2))
print(even_numbers) # Printing even numbers only

[1, 3, 5, 7, 9]

In [ ]:
# Making a list of sqaurs for fist 10 numbers

squares = []
for value in range(1,11):
  square = value**2
  squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
numbers = []
for number in range(1,10):
  value = number**3
  numbers.append(value)

print(numbers)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
squares = []
for value in range(1,11):
  squares.append(value**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(min(digits)) # prints the minimum value in the list
print(max(digits)) # prints the maximum value in the list
print(sum(digits)) # prints the sum of all items in the list

0
9
45

In [ ]:
message = 'Nice to meet you!'
name = 'brandon knight'
print("Hello World, my name is " + name.title() + "!\n" + message)

Hello World, my name is Brandon Knight!
Nice to meet you!

In [ ]:
magicians = ['brandon', 'jack', 'alice', 'robby', 'elizabeth']

for name in magicians:
  print(name.title())

print('\n')

cars = ['audi', 'bmw', 'mercedes', 'ford']

for car in cars:
  print(car.title())

Brandon
Jack
Alice
Robby
Elizabeth


Audi
Bmw
Mercedes
Ford

In [ ]:
magicians = ['alice', 'john', 'david', 'carolina']

for magician in magicians:
  print("Wow " + magician.title() + ", that was a great trick!")

Wow Alice, that was a great trick!
Wow John, that was a great trick!
Wow David, that was a great trick!
Wow Carolina, that was a great trick!

In [ ]:
magicians = ['alice', 'john', 'david', 'carolina']

for magician in magicians:
  print("Wow " + magician.title() + ", that was a great trick!")
  print("I can't wait to see your next trick, " + magician.title() + "!\n")
print("Thank you, everyone. That was a great magic show!")

Wow Alice, that was a great trick!
I can't wait to see your next trick, Alice!

Wow John, that was a great trick!
I can't wait to see your next trick, John!

Wow David, that was a great trick!
I can't wait to see your next trick, David!

Wow Carolina, that was a great trick!
I can't wait to see your next trick, Carolina!

Thank you, everyone. That was a great magic show!

In [ ]:
freinds = ['andy', 'devin', 'giuseppe', 'joe']

for freind in freinds:
  print("Wow you have a great car " + freind.title() + "!")
  print("I'm excited to see how fast it goes!\n")
print("Thank you all for showing me your cars")

Wow you have a great car Andy!
I'm excited to see how fast it goes!

Wow you have a great car Devin!
I'm excited to see how fast it goes!

Wow you have a great car Giuseppe!
I'm excited to see how fast it goes!

Wow you have a great car Joe!
I'm excited to see how fast it goes!

Thank you all for showning me your cars

# Try it yourself
- 4-1: Think of at least three kinds of pizza. Store names in lst and loop through them
-4-2: Do the same as 4-1 but with animals

In [ ]:
# 4-1
statement = "I'm very hungry, I could use some "
pizzas = ['pepperoni', 'sausage', 'bacon']
for pizza in pizzas:
  print(statement + pizza + " pizza!")
print("\nIf you can't already tell, I really like pizza")

print('\n')

# 4-2
animals = ['cat', 'dog', 'wolf', 'lion']
for animal in animals:
  print("A " + animal + " would make a great pet!")
print("\nWell honestly, any of these animls would make a great pet.")

I'm very hungry, I could use some pepperoni pizza!
I'm very hungry, I could use some sausage pizza!
I'm very hungry, I could use some bacon pizza!

If you can't already tell, I really like pizza


A cat would make a great pet!
A dog would make a great pet!
A wolf would make a great pet!
A lion would make a great pet!

Well honestly, any of these animls would make a great pet.

In [ ]:
# Making Numerical Lists
for value in range(1,5):
  print(value)

for value in range(1,6):
  print(value)

1
2
3
4
1
2
3
4
5

In [ ]:
numbers = list(range(1,6))
print(numbers)

even_numbers = list(range(2,11,2))
print(even_numbers)

threes = list(range(3,13,3))
print(threes)

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]
[3, 6, 9, 12]

In [ ]:
squares = []                    # create empty list called squares
for value in range(1,11):       # for the key "value" in range from 1-10
  square = value**2             # square variable equals value^2 -> through the list
  squares.append(square)        # adding that squared value to the list until til runs through entire range

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
threes = []
for value in range(1,13):
  three = value**3
  threes.append(three)

print(threes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728]

In [ ]:
squares = []
for value in range(1,11):
  squares.append(value**2) # Concise code that appends the square value directly to the list
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(min(digits))
print(max(digits))
print(sum(digits))

0
9
45

In [ ]:
# List comprehension: Combines the for loop and the creation of new elements into one line and automatially append each new element
squares = [value**2 for value in range(1,11)]
print(squares)

numbers = [number*2 for number in range(1,13)]
print(numbers)

# Step 1: Begin with a name for the list
# Step 2: Set open bracets and define new expression
# Step 3: Write a for loop to generate the numbers youw ant to feed into the expression

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [ ]:
# List comprehension practice - 3 examples

numbers = [value+1 for value in range(1,11)]
print(numbers)

names = ['alice', 'joe', 'cindy']
people = []
for name in names:
  people.append(name.title())
for peoples in people:
  print(peoples)

# 4-3 Counting to Twenty: Use a for loop to print the numbers 1-20, inclusive:
for number in range(1,21):
  print(number)

# 4-4 One Million: Make a list of numbers from one to one million..
for number in range(1,101):
  print(number)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
Alice
Joe
Cindy
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
# 4-5 Summing a Million: MAke a list of numbers from one to one million, and then use min() and max()...

numbers = []
value = range(1,1000001)
numbers.append(value)

print(min(numbers))
print(max(numbers))

numbers = range(1,1000001)
print(min(numbers))
print(max(numbers))
print(sum(numbers))


# 4-6 Odd Numbers: Use the thrid argument of the range() function...
numbers = [value for value in range(1,21,2)]
print(numbers)

# 4-7 Threes: Make a list of the multiples of 3 from 3 to 30. Use a for loop to print the numbers in your list.

numbers = [value*3 for value in range(3,31)]
print(numbers)

numbers = []
for value in range(3,31):
  numbers.append(value*3)
print(numbers)

# 4-8 Cubes: A number raied to the third power is called a cube...

for value in range(1,11):
  print(value**3)

# 4-9 Cube Comprehension: Use a list comprehension to generate a list of the first 10 cubes
numbers = [number**3 for number in range(1,11)]
print(numbers)

range(1, 1000001)
range(1, 1000001)
1
1000000
500000500000
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90]
[9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90]
1
8
27
64
125
216
343
512
729
1000
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# Working with part of a list

# slicing a list
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])
print(players[1:4])
print(players[:4])

['charles', 'martina', 'michael']
['martina', 'michael', 'florence']
['charles', 'martina', 'michael', 'florence']

In [ ]:
people = ['andrew', 'david', 'sean', 'alice']
print(people[-3:]) # prints the last 3 names of the list
print(people[:-2]) # prints a list ommiting the last 2 names

print('\n')

players = ["charles", 'martina', 'michael', 'flornace', 'eli']

print("Here are the first three players on my team:")
for player in players[:3]:
  print(player.title())

numbers = [number*2 for number in range(1,11)]
print(numbers)

['david', 'sean', 'alice']
['andrew', 'david']


Here are the first three players on my team:
Charles
Martina
Michael
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
numbers = [value**2 for value in range(1,11)]
print(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
print("Hello world\nToday is going to be a good day")

Hello world
Today is going to be a good day

In [ ]:
name = "brandon"
print(name.title())

numbers = [x**2 for x in range(1,11)]
print(numbers)

Brandon
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
players = ['charles', 'martin', 'michael', 'florence']
print(players[:3]) #slicing a list

print("\n")

print("Here are the first three players on my team:")
for player in players[:3]: #slices list to three
  print(player.title()) # loops through print command

print(players[:])

my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:] # creating a copy of our previous list with a new list

print("My favorite foods are : ")
print(my_foods)

print("\nMy freind's favorite foods are:")
print(friend_foods)

my_foods.append('ice cream')

print(my_foods)
print(friend_foods)

['charles', 'martin', 'michael']


Here are the first three players on my team:
Charles
Martin
Michael
['charles', 'martin', 'michael', 'florence']
My favorite foods are :
['pizza', 'falafel', 'carrot cake']

My freind's favorite foods are:
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake', 'ice cream']
['pizza', 'falafel', 'carrot cake']

In [38]:
# 4-10 Slices: Using one of the progams you wrote in this chapter, add several lines to the end of the program that do the following:

people = ['andrew', 'brandon', 'jake', 'devin', 'john', 'jacob', 'thornhill']
print("The first three items of my list are:")
print(people[:3])
print("Three items from the middle of the list are:")
print(people[2:5])
print("The last three items in the list are:")
print(people[-3:])

# 4-11 My Pizzas, Your Pizzas: Make a copy of your list
pizzas = ['pepperoni', 'bacon', 'cheese', 'sausage', 'pineapple']
friend_pizzas = pizzas[:]

pizzas.append('jalapenos')
friend_pizzas.append('vegeterian')

print("My favorite pizzas are:")
print(pizzas)
print("\nMy friend's favorite pizzas are:")
print(friend_pizzas)

#4-12 More Loops: Write two for loops to print each list of foods

print("My favorite pizzas are:")
for pizza in pizzas:
  print(pizza.title())

print("\nMy friend's favorite pizzas are:")
for pizza in friend_pizzas:
  print(pizza.title())

The first three items of my list are:
['andrew', 'brandon', 'jake']
Three items from the middle of the list are:
['jake', 'devin', 'john']
The last three items in the list are:
['john', 'jacob', 'thornhill']
My favorite pizzas are:
['pepperoni', 'bacon', 'cheese', 'sausage', 'pineapple', 'jalapenos']

My friend's favorite pizzas are:
['pepperoni', 'bacon', 'cheese', 'sausage', 'pineapple', 'vegeterian']
My favorite pizzas are:
Pepperoni
Bacon
Cheese
Sausage
Pineapple
Jalapenos

My friend's favorite pizzas are:
Pepperoni
Bacon
Cheese
Sausage
Pineapple
Vegeterian